
!/src/renderer/modules/
/src/renderer/modules/*

!/src/renderer/modules/vuex-electron/
/src/renderer/modules/vuex-electron/*
!/src/renderer/modules/vuex-electron/lib
/src/renderer/modules/vuex-electron/lib/*
!/src/renderer/modules/vuex-electron/lib/shared-mutations.js


/src/renderer/plugins/MathJax/*
/src/renderer/plugins/node-rsa/*
/src/renderer/plugins/pako/*
/static
/plugins
/plugins-obfuscated
/dist
/dist-ob/*/*
/mod/*/*.hrb
style_print.js
style_char.js