.DS_Store
dist/*
server/*
dist/electron/*
dist/web/*
build/*
dist-source/*
temp/*
!build/icons
node_modules/
node_modules2/
node_modules3/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
.vs
dat/
log/
plugins-obfuscated/
modify/*
src/renderer/access/output
.electron-vue/proceed/logs/*
.electron-vue/proceed/modify/*
.electron-vue/proceed/matches/*
.electron-vue/proceed/access/*
.electron-vue/proceed/helper/serverFunc.json
.electron-vue/modify-webpack*.js

/src/renderer/plugins/html2pdf/examples/*
/mod/SumatraPDF-settings.txt
/db/*
package-lock.json
yarn.lock

/mod/*/*.hrb
src/renderer/components/bicon/icon.html
src/renderer/components/bicon/icon.js
